@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');

.mapRatio {
  --bs-aspect-ratio: 100%;
}

.thumb-post img {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 250px;
}

body {
  background-color: rgb(242, 243, 185);
  font-family: 'Dancing Script', cursive;
}

* {
  color: rgb(93, 96, 54);
}

.navbar {
  /* background-color: rgba(242, 243, 185, .85); */
  background-color: rgba(242, 243, 185, .85);
  /* -webkit-backdrop-filter: saturate(180%) blur(20px); */
  /* backdrop-filter: saturate(180%) blur(20px); */
  box-shadow: 0 0 0.5rem 1rem rgb(242 243 185 / 85%);
  padding-bottom: 0;
}
